@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@font-face {
    font-family: 'NunitoSans';
    src: url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@theme {
    --font-nunito-sans: "NunitoSans", sans-serif;

    --color-latar: #f3f4f6;
    --color-teks: #374151;
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb;
    --color-hijau: #00B074;
    --color-merah: #ef4444;
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b;
}